/* 
    Это блок стилизации, в итоге получится один большой файл,
    в котором все блоки будут объединены. Это сделано для
    удобства разработки, чтобы иметь распределённую структуру
    файлов, а не один большой файл, в котором можно сломать
    колёсико мышки
*/

@import '../../../variables';


.section {
    background: $section_color;
    padding: 50px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}